extends layout 

block karten
  
  style.
    
  
  
  .details

    h1  #{pokemon.Name}
      table
          img.bilddiv(src= "/images/" + pokemon.Bild)

          h3 Typ: #{pokemon.Typ}
  
        
          th 
            h2 Beschreibung: #{pokemon.Beschreibung}
          tr 
            h2 Größe: #{pokemon.Größe}

        
      a(href='/') zurück
