//- index.pug
//- include boiler

//- extends layout.pug

//- block navbar
//-     include navbar.pug

//- block karten
//-     include pokemons.pug

//- block footer
//-     include footer.pug

include ./boiler.pug
include ./navbar.pug
include ./pokemons.pug
include ./footer.pug
