//- layout.pug

block boiler
    include boiler.pug

body
    block navbar
        include navbar.pug

    block bild
        include images.pug

    block karten
        include pokmons.pug 
                    
    block footer
        include footer.pug








    //- body
    //-     block navbar
    //-         include ./navbar.pug
    //-     block bild
    //-         include ./images.pug
    //-     block karten
    //-         include ./pokemons.pug
    //-     block footer
    //-         include ./footer.pug