nav.navbar
    ul
        li.navbar-item
            a.navbar-link(href="/") Home
        li.navbar-item
            a.navbar-link(href="#") About
        li.navbar-item
            a.navbar-link(href="#") Services
        li.navbar-item
            a.navbar-link(href="#") Class Info
        li.navbar-item
            a.navbar-link(href="#") Kontakt