block karten 
    

    div.kartenset 
        each element in data
            
            div.karte 
                
                h1= element.ID
                    
                    h1.karttext
                        a(href='/details/'+ element.Name) #{element.Name}
                        
                    table
                        tr      
                            th 
                                img(src= "/includes/images/" + element.Bild, alt=element.Bild)
                                    
                            th= element.Typ